<span class="text">
  Todo Checklist: <button (click)="showTodo = !showTodo" class="btn btn-outline-primary ms-2">{{showTodo ? "Hide" : "Show"}}</button>
</span>
<div *ngIf="showTodo">
  <div *ngFor="let item of items">
    <app-checklist-item *ngIf="item[1] > 0" [item]="item"></app-checklist-item>
  </div>
</div>
<div class="text">
Completed: <button (click)="showCompleted = !showCompleted" class="btn btn-outline-primary ms-2">{{showCompleted ? "Hide" : "Show"}}</button>
</div>
<div *ngIf="showCompleted">
  <div *ngFor="let item of items">
    <app-checklist-item *ngIf="item[1] == -1" [item]="item"></app-checklist-item>
  </div>
</div>
<div class="text">
Snoozed: <button (click)="showSnoozed = !showSnoozed" class="btn btn-outline-primary ms-2">{{showSnoozed ? "Hide" : "Show"}}</button>
</div>
<div *ngIf="showSnoozed">
  <div *ngFor="let item of items">
    <app-checklist-item *ngIf="item[1] == -2" [item]="item"></app-checklist-item>
  </div>
</div>
<div class="text">
Unavailable Today: <button (click)="showUnavailable = !showUnavailable" class="btn btn-outline-primary ms-2">{{showUnavailable ? "Hide" : "Show"}}</button>
</div>
<div *ngIf="showUnavailable">
  <div *ngFor="let item of items">
    <app-checklist-item *ngIf="item[1] == -3" [item]="item"></app-checklist-item>
  </div>
</div>


