<div class="accordion-container mx-auto my-5">
  <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <span>Characters</span>
      </ng-template>
      <ng-template ngbPanelContent>
        <app-selector></app-selector>
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <span>Weapons</span>
      </ng-template>
      <ng-template ngbPanelContent>
        Coming soon
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <span>Ingredients</span>
      </ng-template>
      <ng-template ngbPanelContent>
        Coming soon
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
